<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./static/main.css">
    <meta charset="UTF-8">
    <title>Martian Pictures</title>
</head>
<body>
    <h1>Welcome to the picture generator!</h1>
    <div class="logo">
        <img src="./static/Logo.gif">
    </div>
    <h2>
        To recieve a new image, click here:
        <button class="button button1">New Image</button><br>
        To view the image library, click here:
        <a href="gallery">
           <button type="submit" class="button button2">View Gallery</button>
        </a>
    </h2>
</body>
</html>